@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/*=============================================
=            top view                         =
=============================================*/

.topView {
  background-image: url(./images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContent {
  display: flex;
  text-align: right;
  align-items: center;
  height: 100vh;
}

.heroContentLeft {
  flex-basis: 50%;
}

.heroContentRight {
  flex-basis: 50%;
}

.heroContentRight h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 65px;
  color: #151414;
  text-transform: capitalize;
}

.heroContentRight p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
  margin: 30px 0;
}

.btn a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #f15b22;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.btn a:hover {
  color: #f15b22;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
/*=====  End of top view  ======*/

/*=============================================
=            about                            =
=============================================*/
.about {
  padding: 100px 0;
}

.aboutContent {
  display: flex;
  align-items: center;
}

.aboutContent-left-img {
  /* margin-right: 100px; */
  flex-basis: 60%;
}
.aboutContent-left-img img {
  height: 600px;
  width: auto;
}

.aboutContent-right-content {
  flex-basis: 40%;
}
.aboutContent-right-content h2 {
  font-size: 40px;
  line-height: 38px;
  margin-top: 150px;
}

.aboutContent-right-content > p {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
}
.aboutContent-right-content ul {
  list-style: none;
}

.aboutContent-right-content ul li {
  display: flex;
}
.aboutContent-right-content ul li span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #16d887;
  margin-right: 5px;
}
.aboutContent-right-content ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
}

/*=====  End of about  ======*/

/*=============================================
=            My Plans            =
=============================================*/

.myPlans {
  padding-bottom: 50px;
}

.allPlans-title {
  text-align: center;
  margin: 70px 0;
}
.allPlans-title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 26px;
  color: #151414;
}

.allPlans-des {
  display: flex;
  justify-content: space-between;
}

.plan {
  text-align: center;
}

.plan img {
  padding: 20px;
  margin-bottom: 20px;
}

.plan h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
  color: #151414;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.plan p {
  font-size: 25px;
  font-weight: 500;
  line-height: 26px;
  color: #737272;
}

/*=====  End of My Plans  ======*/

/*=============================================
=            call-now                         =
=============================================*/
.callNow {
  padding: 100px 0;
}
.call {
  padding: 80px 50px;
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("./images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.call h2 {
  color: #151414;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
/*=====  End of call-now  ======*/

/*=============================================
=            footer start                     =
=============================================*/

footer {
  background-color: #151414;
}
.mainFooter {
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
}

.footerLeft {
  flex-basis: 50%;
}

.footerLeft h2 {
  font-size: 45px;
  color: #f8f8f8;
  font-weight: 700;
}

.footerLeft p {
  padding: 15px 0;
  color: #ffffff;
  font-size: 16px;
}

.footerLeft span,
.footerLeft a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.footerLeft a {
  text-decoration: none;
}

.socialIcons {
  margin-top: 30px;
}
.socialIcons ul {
  list-style-type: none;
  display: flex;
}

.socialIcons ul li {
  margin-right: 20px;
}

.socialIcons ul li a {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
}

.socialIcons ul li:hover a {
  opacity: 0.5;
}
.fa-facebook-f {
  color: #006aff;
  padding: 0 5px;
}
.fa-twitter {
  color: #1da1f2;
  padding: 0 2px;
}

.fa-youtube {
  color: #ff0000;
}
.footerRight h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.footerRight form {
  margin-top: 30px;
}

.footerRight form input[type="email"] {
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
.footerRight form input[type="submit"] {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
}

.footerRight form input[type="submit"]:hover {
  background-color: #f15b22;
  color: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/*=====  End of footer  ======*/
